.content-wrapper{
	background: url(../images/brushed_alu.png) repeat center center;
}
.main-header{
	box-shadow: 0 2px 2px rgba(0,0,0,.2)
}
.main-header .navbar-nav > .user-menu > .dropdown-menu{
	width: 100% !important;
	padding: 0px !important;
	border: none !important;
	min-width: unset;
}
@media (max-width: 991px) {
	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
		right: 0 !important;
	}
	.navbar-nav > .notifications-menu > .dropdown-menu, 
	.navbar-nav > .messages-menu > .dropdown-menu, 
	.navbar-nav > .tasks-menu > .dropdown-menu{
		width: 100% !important;
	}
}
.dropdown-menu{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.dropdown .dropdown-menu {
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;
	margin-top: -20px !important;
	opacity: 0;
	visibility: hidden;
	display: block;
}
.dropdown.open .dropdown-menu {
	opacity: 1;
	visibility: visible;
	margin-top: 0px !important;
}
.navbar .navbar-nav > li > a{
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 16px;
}
.navbar .navbar-nav > li > a .fa{
	font-size: 17px;
	max-width: 17px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header{
	height: auto !important;
}
.btn-circle{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 0px 0px;
}
.btn-circle > .fa{
	width: 48px;
	line-height: 48px;
	text-align: center;
}
.btn-circle:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;
	transition: all 0.4s;
}
.btn-circle i {
	color: #fff;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
	-ms-transition: all 0.7s;
	transition: all 0.7s;
}
.btn-circle, .btn-default i{
	color: #444 !important;
}
.tombol-container{
	position: fixed;
	bottom: 15px;
	width: 100%;
}
#tombolbuat{
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.btndeletesallhow{
	bottom: 15px !important;
}
#deleteall{
	position: fixed;
	bottom: -100px;
	margin-left: 10px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#tablesearchbar{
	width: 100%;
	height: 41px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	display: none;
}
#tablesearchbar .form-control{
	border: none;
	padding-right: 40px;
	padding-left: 30px;
	height: 40px !important;
}
#tablesearchbar .btn-close{
	position: absolute;
	z-index: 10;
	top: 10px;
	right: 13px;
	color: #b5b5b5;
}
#tablesearchbar .btn-submit{
	position: absolute;
	z-index: 10;
	top: 10px;
	left: 12px;
	color: #b5b5b5;
}
@media (min-width: 767px) {
	#tablesearchbar form{
		position: absolute;
		width: 290px;
		right: 0px;
	}
	#tablesearchbar .form-control{
		height: 40px !important;
	}
}
/*profile*/
#preview {
	display: block;
	max-width:230px;
	max-height:95px;
	width: auto;
	height: auto;
	display: none;
}
.cropper-container{
	margin-bottom: 15px;
}
.preview-container, .foto-container{
	width: 112px;
	height: 112px;
	overflow: hidden;
}
.profil-container{
	width:100%;
	display:table;
	box-shadow: 0px 1px 6px rgba(0,0,0,.15)
}
.pp-inner{
	display:table-cell;
	vertical-align: top;
}
.tabel-info{
	margin-left: 30px;
}
.tabel-info td{
	padding: 5px 0 5px 0;
	vertical-align: top;
}
.change-pp-box-container{
	position: relative;
	margin-bottom: 15px;
}
.change-pp-box{
	width: 100%;
	text-align: center;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	padding: 7px;
	color: #fff !important;
	text-decoration: none !important;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.change-pp-box:hover{
	background: rgba(0, 0, 0, 0.7);
}
.change-pp-box-container:hover > .change-pp-box{
	visibility: visible;
	opacity: 1;
}
.edit-form{
	margin-left: 30px;
}
.edit-form > .form-group > label{
	text-align: left;
}
.pp-bottom{
	width: 100%;
	height: 15px;
	background-color: #f9af18;
	border-top: 3px solid #0084cb;
	position: absolute;
}
.profile-tab-content{
	min-height:430px; 
	padding:30px !important;
}
@media (max-width: 767px) {
	.profile-tab-content{
		padding:10px !important;
	}
}
.pp-container{
	width: 300px;
	padding: 20px;
	background-color: #f7f7f7;
	border-right: 1px solid #eee;
}
@media (max-width: 767px) {
	.pp-inner{
		display:block !important;
	}
	.pp-container{
		width: 100%;
	}
	.nav-tabs-custom > .nav-tabs > li > a{
		font-size: 12px;
	}
	.main-sidebar { 
		height: 100%; 
		overflow: hidden; 
	}
	.no-bounce { 
		width: 100%; 
		height: 100%; 
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch; 
	}
}
.box-table{
	margin-bottom: 65px;
}
.box-table .box-header {
	height: 40px;
}
.nowrap {
    white-space:nowrap;
}
.icon-picker-head{
	padding: 8px 10px 10px 10px;
	border-bottom: 1px solid #d2d6de;
}
.icon-picker-body{
	padding: 5px 2px;
	max-height: 150px;
	overflow-y: auto;
}
.icon-item{
	display: inline-block;
	width: 45px;
	height: 43px;
	text-align: center;
	cursor: pointer;
}
.icon-picker-body > .icon-item :hover{
	color: #296287;
}
@media (max-width: 767px) {
	.main-header .navbar .dropdown-menu li a {
		color: inherit !important;
		background: none !important;
	}
	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu{
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}
}
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover, 
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus, 
.nav-tabs-custom > .nav-tabs > li:not(.active) > a:active{
	border-bottom: 1px solid #ddd;
}
#window_preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 113%;
	z-index: 9999;
	background: url("../images/sandglass.gif") center no-repeat #3f8cff;
	background-position-y: 40%;
	z-index: 99999;
	padding-bottom: 100px;
	display: block;
}
.alert {
	border: 0;
	border-radius: 0;
	position: relative;
	padding: 20px 15px;
	line-height: 20px;
}
.alert b {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
}
.alert, .alert.alert-default {
	background-color: white;
	color: #555555;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
}
.alert a, .alert .alert-link, .alert.alert-default a, .alert.alert-default .alert-link {
	color: #555555;
}
.alert.alert-inverse {
	background-color: #2e2e2e;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(33, 33, 33, 0.4);
}
.alert.alert-inverse a, .alert.alert-inverse .alert-link {
	color: #fff;
}
.alert.alert-primary {
	background-color: #af2cc5;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}
.alert.alert-primary a, .alert.alert-primary .alert-link {
	color: #ffffff;
}
.alert.alert-success {
	background-color: #5cb860;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}
.alert.alert-success a, .alert.alert-success .alert-link {
	color: #ffffff;
}
.alert.alert-info {
	background-color: #00bcd4;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}
.alert.alert-info a, .alert.alert-info .alert-link {
	color: #ffffff;
}
.alert.alert-warning {
	background-color: #ffa21a;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.alert.alert-warning a, .alert.alert-warning .alert-link {
	color: #ffffff;
}
.alert.alert-danger {
	background-color: #f55a4e;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}
.alert.alert-danger a, .alert.alert-danger .alert-link {
	color: #ffffff;
}
.alert.alert-rose {
	background-color: #eb3573;
	color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}
.alert.alert-rose a, .alert.alert-rose .alert-link {
	color: #ffffff;
}
.alert-info, .alert-danger, .alert-warning, .alert-success, .alert-rose {
	color: #ffffff;
}
.alert-default a, .alert-default .alert-link {
	color: rgba(0,0,0, 0.87);
}
.alert span {
	display: block;
	max-width: 89%;
}
.alert.alert-danger i {
	color: #f44336;
}
.alert.alert-warning i {
	color: #ff9800;
}
.alert.alert-success i {
	color: #4caf50;
}
.alert.alert-info i {
	color: #00bcd4;
}
.alert.alert-primary i {
	color: #9c27b0;
}
.alert.alert-rose i {
	color: #e91e63;
}
.alert.alert-with-icon {
	margin-top: 43px;
	padding-left: 66px;
}
.alert.alert-with-icon i[data-notify="icon"] {
	display: block;
	left: 15px;
	position: absolute;
	margin-top: -39px;
	font-size: 20px;
	background-color: #FFFFFF;
	padding: 9px;
	border-radius: 50%;
	max-width: 38px;
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.alert .close {
	opacity: 1 !important;
	color: #FFFFFF !important;
}
.alert .close i {
	color: #FFFFFF !important;
}
.alert i[data-notify="icon"] {
	display: none;
}
.alert .alert-icon {
	display: block;
	float: left;
	margin-right: 15px;
}
.alert .alert-icon i {
	margin-top: -7px;
	top: 5px;
	position: relative;
}
.alert [data-notify="dismiss"] {
	margin-right: 5px;
}
.close {
  font-size: inherit;
  color: #FFFFFF;
  opacity: .9;
  text-shadow: none;
}
.close:hover, .close:focus {
  opacity: 1;
  color: #FFFFFF;
}
.close i {
  font-size: 11px;
}
table td .checkbox, .radio, 
table th .checkbox, .radio{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.main-sidebar{
	padding-top: 52px;
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 
	0 4px 25px 0px rgba(0, 0, 0, 0.12), 
	0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
	.main-sidebar {
		padding-top: 103px;
		overflow-y: auto;
	}
}
/*Button*/
.btn,
.navbar .navbar-nav > li > a.btn {
	will-change: box-shadow, transform;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:focus,
.btn:active,
.btn:visited{
	outline: none !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
	box-shadow: none !important;
}
/*Button Primary*/
.btn-primary {
	background-color: #9c27b0;
	border-color: #9c27b0;
	box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
	background-color: #9c27b0;
	border-color: #9c27b0;
}
.btn-primary.disabled.focus, 
.btn-primary.disabled:focus, 
.btn-primary.disabled:hover, 
.btn-primary[disabled].focus, 
.btn-primary[disabled]:focus, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary.focus, 
fieldset[disabled] .btn-primary:focus, 
fieldset[disabled] .btn-primary:hover{
	background-color: #9c27b0;
	border-color: #9c27b0;
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover,
.navbar .navbar-nav > li > a.btn.btn-primary:focus,
.navbar .navbar-nav > li > a.btn.btn-primary:active,
.navbar .navbar-nav > li > a.btn.btn-primary:hover {
	box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
	background-color: #9c27b0;
	border-color: #9c27b0;
}
/*Button Default*/
.btn-default {
	background-color: #ececec;
	border-color: #ececec;
	box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
.btn-default:hover,
.btn-default:active,
.btn-default.hover {
	background-color: #ececec;
	border-color: #ececec;
}
.btn-default.disabled.focus, 
.btn-default.disabled:focus, 
.btn-default.disabled:hover, 
.btn-default[disabled].focus, 
.btn-default[disabled]:focus, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default.focus, 
fieldset[disabled] .btn-default:focus, 
fieldset[disabled] .btn-default:hover{
	background-color: #ececec;
	border-color: #ececec;
}
.btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default:hover,
.navbar .navbar-nav > li > a.btn:focus,
.navbar .navbar-nav > li > a.btn:active,
.navbar .navbar-nav > li > a.btn:hover,
.navbar .navbar-nav > li > a.btn.btn-default:focus,
.navbar .navbar-nav > li > a.btn.btn-default:active,
.navbar .navbar-nav > li > a.btn.btn-default:hover {
	box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
	background-color: #ececec;
	border-color: #ececec;
}
/*Button Success*/
.btn-success {
	background-color: #4caf50;
	border-color: #4caf50;
	box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
	background-color: #4caf50;
	border-color: #4caf50;
}
.btn-success.disabled.focus, 
.btn-success.disabled:focus, 
.btn-success.disabled:hover, 
.btn-success[disabled].focus, 
.btn-success[disabled]:focus, 
.btn-success[disabled]:hover, 
fieldset[disabled] .btn-success.focus, 
fieldset[disabled] .btn-success:focus, 
fieldset[disabled] .btn-success:hover{
	background-color: #4caf50;
	border-color: #4caf50;
}
.btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:hover,
.navbar .navbar-nav > li > a.btn.btn-success:focus,
.navbar .navbar-nav > li > a.btn.btn-success:active,
.navbar .navbar-nav > li > a.btn.btn-success:hover {
	box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
	background-color: #4caf50;
	border-color: #4caf50;
}
/*Button Info*/
.btn-info {
	background-color: #00bcd4;
	border-color: #00bcd4;
	box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
	  background-color: #00bcd4;
	  border-color: #00bcd4;
}
.btn-info.disabled.focus, 
.btn-info.disabled:focus, 
.btn-info.disabled:hover, 
.btn-info[disabled].focus, 
.btn-info[disabled]:focus, 
.btn-info[disabled]:hover, 
fieldset[disabled] .btn-info.focus, 
fieldset[disabled] .btn-info:focus, 
fieldset[disabled] .btn-info:hover{
	background-color: #00bcd4;
	border-color: #00bcd4;
}
.btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:hover,
.navbar .navbar-nav > li > a.btn.btn-info:focus,
.navbar .navbar-nav > li > a.btn.btn-info:active,
.navbar .navbar-nav > li > a.btn.btn-info:hover {
	box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
	background-color: #00bcd4;
	border-color: #00bcd4;
}
/*Button Danger*/
.btn-danger {
	background-color: #f44336;
	border-color: #f44336;
	box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
	background-color: #f44336;
	border-color: #f44336;
}
.btn-danger.disabled.focus, 
.btn-danger.disabled:focus, 
.btn-danger.disabled:hover, 
.btn-danger[disabled].focus, 
.btn-danger[disabled]:focus, 
.btn-danger[disabled]:hover, 
fieldset[disabled] .btn-danger.focus, 
fieldset[disabled] .btn-danger:focus, 
fieldset[disabled] .btn-danger:hover{
	background-color: #f44336;
	border-color: #f44336;
}
.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover,
.navbar .navbar-nav > li > a.btn.btn-danger:focus,
.navbar .navbar-nav > li > a.btn.btn-danger:active,
.navbar .navbar-nav > li > a.btn.btn-danger:hover {
	box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
	background-color: #f44336;
	border-color: #f44336;
}
/*Button Warning*/
.btn-warning {
  background-color: #ff9800;
  border-color: #ff9800;
  box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
  background-color: #ff9800;
  border-color: #ff9800;
}
.btn-warning.disabled.focus, 
.btn-warning.disabled:focus, 
.btn-warning.disabled:hover, 
.btn-warning[disabled].focus, 
.btn-warning[disabled]:focus, 
.btn-warning[disabled]:hover, 
fieldset[disabled] .btn-warning.focus, 
fieldset[disabled] .btn-warning:focus, 
fieldset[disabled] .btn-warning:hover{
	background-color: #ff9800;
	border-color: #ff9800;
}
.btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning:hover,
.navbar .navbar-nav > li > a.btn.btn-warning:focus,
.navbar .navbar-nav > li > a.btn.btn-warning:active,
.navbar .navbar-nav > li > a.btn.btn-warning:hover {
	box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
	background-color: #ff9800;
	border-color: #ff9800;
}
/*Button Rose*/
.btn-rose {
  background-color: #e91e63;
  color: #FFFFFF;
  border-color: #e91e63;
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
}
.btn-rose:hover,
.btn-rose:active,
.btn-rose.hover {
  background-color: #e91e63;
  color: #FFFFFF;
  border-color: #e91e63;
}
.btn-rose.disabled.focus, 
.btn-rose.disabled:focus, 
.btn-rose.disabled:hover, 
.btn-rose[disabled].focus, 
.btn-rose[disabled]:focus, 
.btn-rose[disabled]:hover, 
fieldset[disabled] .btn-rose.focus, 
fieldset[disabled] .btn-rose:focus, 
fieldset[disabled] .btn-rose:hover{
	background-color: #e91e63;
	color: #FFFFFF;
	border-color: #e91e63;
}
.btn.btn-rose:focus, .btn.btn-rose:active, .btn.btn-rose:hover,
.navbar .navbar-nav > li > a.btn.btn-rose:focus,
.navbar .navbar-nav > li > a.btn.btn-rose:active,
.navbar .navbar-nav > li > a.btn.btn-rose:hover {
	box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2);
	background-color: #e91e63;
	color: #FFFFFF;
	border-color: #e91e63;
}
/*rotate menu pointer when open*/
.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/*colors*/
a {
	color: #9c27b0;
}
a:hover, a:focus {
	color: #89229b;
	text-decoration: none;
}
.text-primary {
	color: #9c27b0;
}
a.text-primary:hover,
a.text-primary:focus {
	color: #832194;
}
.text-success {
	color: #4caf50;
}
a.text-success:hover,
a.text-success:focus {
	color: #429745;
}
.text-info {
	color: #00bcd4;
}
a.text-info:hover,
a.text-info:focus {
	color: #009eb2;
}
.text-warning {
	color: #ff9800;
}
a.text-warning:hover,
a.text-warning:focus {
	color: #dd8400;
}
.text-danger {
	color: #f44336;
}
a.text-danger:hover,
a.text-danger:focus {
	color: #f22516;
}
.bg-primary {
	color: #fff;
	background-color: #9c27b0;
}
a.bg-primary:hover,
a.bg-primary:focus {
	background-color: #832194;
}
.bg-success {
	background-color: #4caf50;
}
a.bg-success:hover,
a.bg-success:focus {
	background-color: #429745;
}
.bg-info {
	background-color: #00bcd4;
}
a.bg-info:hover,
a.bg-info:focus {
	background-color: #009eb2;
}
.bg-warning {
	background-color: #ff9800;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #dd8400;
}
.bg-danger {
	background-color: #f44336;
}
a.bg-danger:hover,
a.bg-danger:focus {
	background-color: #f22516;
}
.box.box-primary {
	border-top-color: #9c27b0;
}
.box.box-info {
	border-top-color: #00bcd4;
}
.box.box-danger {
	border-top-color: #f44336;
}
.box.box-warning {
	border-top-color: #ff9800;
}
.box.box-success {
	border-top-color: #4caf50;
}
.form-control:focus {
	border-color: #9c27b0;
	box-shadow: none;
}
.nav-tabs-custom > .nav-tabs > li.active {
	border-top-color: #9c27b0;
}
.box, .info-box, .small-box{
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.user-panel > .info > p{
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
	width: 150px;
}
.main-header .logo{
	height: 52px;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
	background-color: #00bcd4;
	border-color: #00bcd4;
	box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}
.pagination > li > a{
	background: transparent;
	will-change: box-shadow, transform;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.pagination>li>a, .pagination>li>span{
	border: none !important;
}
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover{
	background-color: #ececec;
}
.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover{
	box-shadow: none;
}
.ui-select-bootstrap > .ui-select-match > .btn-default:focus, 
.ui-select-bootstrap > .ui-select-match > .btn-default:active, 
.ui-select-bootstrap > .ui-select-match > .btn-default:hover{
	box-shadow: none !important;
}
.ui-select-bootstrap > .ui-select-match > .btn-default{
	box-shadow: none !important;
	background-color: #fcfcfc !important;
	border-color: #ddd !important;
}
.ui-select-bootstrap > .form-control{
	background-color: #fcfcfc !important
}
.ui-select-input-group-btn > .btn-default:focus,
.ui-select-input-group-btn > .btn-default:active,
.ui-select-input-group-btn > .btn-default:hover{
	box-shadow: none !important;
}
.ui-select-input-group-btn > .btn-default{
	box-shadow: none !important;
	background-color: #fcfcfc !important;
	border-color: #ddd !important;
}