.login-logo a, .register-logo a{
	color: #fff !important;
}
a{
	color: #f39c11 !important;
}
.login-logo a:hover, 
.login-logo a:active, 
.login-logo a:focus{
	color: #fff !important;
}
a:hover, a:active, a:focus{
	color: #d7890b !important;
}
.copyright{
	color: #fff !important;
}