<div class="container">
	<div class="col-sm-12 page-content">
		<div class="col-md-6 offset-md-3">
			<h1 class="text-center">404</h1>
			<h2 class="text-center">
				Maaf, Halaman Tidak Ditemukan <br><br>
				<a href="[[baseUrl]]" class="btn btn-light">⟵ <i>Kembali ke Beranda</i></a>
			</h2>
			<p class="text-center">
			</p>
		</div>
	</div>
</div>