<div class="container" ng-controller="bacaberitaController">
    <div class="col-sm-12 page-content">
        <h1 class="page-title">[[berita.judul_berita]]</h1>
        <hr>
        <!-- SECTION BERITA -->
        <div class="row mb-4 mb-sm-3 artikel">
            <div class="col-sm-12">
                <div class="artikel-tanggal">
                    [[berita.tgl_terbit]] &nbsp; [[berita.jam_terbit]] &nbsp;&nbsp;
                    <i class="fa fa-fw fa-user-circle"></i>&nbsp; [[berita.penulis]] &nbsp;&nbsp;
                    <!-- <i class="fa fa-fw fa-tag"></i>&nbsp; <a href="#">Umum</a> -->
                </div>
                <hr>
            </div>
            <div class="col-sm-8 offset-sm-2">
                <figure class="artikel-gambar" fancy-box>
                    <a href="[[berita.thumbnail]]" class="d-block fancybox" data-caption="[[berita.judul_berita]]">
                        <img src="[[berita.thumbnail]]" alt="[[berita.thumbnail]]" class="d-block mx-auto img-fluid">
                    </a>
                </figure>
                <div ng-bind-html="berita.isi_berita"></div>
            </div>
        </div>
    </div>
</div>