<div class="container pt-4 pb-4">
    <div class="col-sm-12 index-judul text-center pb-2">
      <marquee behavior="scroll" direction="left">
      <h2><strong>SELAMAT DATANG DI OPD [[logged_user.nama_opd | uppercase]]</strong></h2></marquee>
      <!-- <p>Bulan/Triwulan/Semester..... &nbsp; Tahun.....</p> -->
    </div>  
</div>
<section class="container d-flex flex-wrap align-items-center align-content-around pb-5">
  <div class="col-sm-12 menu-utama">
    <div class="row">      
      <div class="col-sm">
        <div class="card card-menu bg-indigo text-center" ng-if="datalayanan.length > 0">
          <div class="card-body d-flex flex-wrap align-items-center justify-content-center align-content-center">
            <h2 class="card-title col-sm-12 text-uppercase"><a href="[[baseUrl]]/isi_profil">Isi Kuesioner</a></h2>
          </div>
        </div>
        <div class="card card-menu bg-grey text-center" ng-if="datalayanan.length == 0">
          <div class="card-body d-flex flex-wrap align-items-center justify-content-center align-content-center">
            <h2 class="card-title col-sm-12 text-uppercase" style="color:#ffffff">Kuesioner Belum Tersedia</h2>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-menu bg-primary text-center">
          <div class="card-body d-flex flex-wrap align-items-center justify-content-center align-content-center">
            <h2 class="card-title col-sm-12 text-uppercase"><a href="[[baseUrl]]/detail_ikm/[[logged_user.id_opd]]">Indeks Kepuasan <br>Masyarakat</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>