<div class="container" ng-controller="berandaController">
  <div class="col-sm-12 page-content">
    <div class="row">
      <div class="col-md-6" ng-bind-html="pengantar">
        
      </div>
      <div class="col-md-6">
        <h1 class="page-title">Berita</h1>
        <div class="artikel-tanggal">
          [[berita.tgl_terbit]] &nbsp; [[berita.jam_terbit]] WIB &nbsp;&nbsp;
          <i class="fa fa-fw fa-user-circle"></i>&nbsp; [[berita.penulis]] &nbsp;&nbsp;
          <!-- <i class="fa fa-fw fa-tag"></i>&nbsp; <a href="#">Umum</a> -->
        </div>
        <h1 class="artikel-judul"><a href="[[baseUrl]]/baca-berita/[[berita.url_berita]]">[[berita.judul_berita]]</a></h1>
        <figure class="artikel-gambar" fancy-box>
          <a href="[[berita.thumbnail]]" class="d-block fancybox" data-caption="[[berita.judul_berita]]">
            <img src="[[berita.thumbnail]]" alt="[[berita.thumbnail]]" class="d-block mx-auto img-fluid">
          </a>
        </figure>
        <div ng-bind-html="berita.isi_berita | limitTo: 300"></div> <a href="[[baseUrl]]/baca-berita/[[berita.url_berita]]">Selengkapnya...</a></p>
        <center><a href="[[baseUrl]]/berita/1">Berita Lainya</a></center>
      </div>
    </div>
    <h1 class="page-title">Tabel Daftar OPD</h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>No</th>
            <th>Nama OPD</th>
            <th>Layanan</th>
            <th>Nilai IKM</th>
            <th>Detail IKM</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in daftaropd">
            <td>[[$index+1]]</td>
            <td>[[data.nama_opd]]</td>
            <td>[[data.nama_layanan]]</td>
            <td>[[data.nilai_interval_konversi]]</td>
            <td><a href="[[baseUrl]]/detail_ikm/[[data.id]]/[[data.id_layanan]]" class="btn btn-primary">Detail IKM</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>