<div class="container" ng-controller="beritaController">
	<div class="col-sm-12 page-content">
    <h1 class="page-title">Berita</h1>
    <hr>
    <ul ng-show="totalItems>3" uib-pagination total-items="totalItems" ng-model="hal" max-size="3" class="pagination-sm" boundary-links="true" items-per-page="3" force-ellipses="true" ng-change="pageChanged()"></ul>
    <div class="artikel-wrapper">
      <!-- SECTION BERITA -->
      <div class="row mb-4 mb-sm-3 artikel" ng-repeat="berita in Records">
        <div class="col-sm-12">
          <div class="artikel-tanggal">
            [[berita.tgl_terbit]] &nbsp; [[berita.jam_terbit]] WIB &nbsp;&nbsp;
            <i class="fa fa-fw fa-user-circle"></i>&nbsp; [[berita.penulis]] &nbsp;&nbsp;
            <!-- <i class="fa fa-fw fa-tag"></i>&nbsp; <a href="#">Umum</a> -->
          </div>
          <h1 class="artikel-judul"><a href="[[baseUrl]]/baca-berita/[[berita.url_berita]]">[[berita.judul_berita]]</a></h1>
        </div>
        <div class="col-sm-12">
          <figure class="artikel-gambar" fancy-box>
              <a href="[[berita.thumbnail]]" class="d-block fancybox" data-caption="[[berita.judul_berita]]">
                  <img src="[[berita.thumbnail]]" alt="[[berita.thumbnail]]" class="d-block mx-auto img-fluid">
              </a>
          </figure>
          <div ng-bind-html="berita.isi_berita | limitTo: 450"></div><a href="[[baseUrl]]/baca-berita/[[berita.url_berita]]">Selengkapnya...</a>
        </div>
        <div class="col-sm-12">
          <br><hr>
        </div>
      </div>
      <!--/ SECTION BERITA -->    
    </div>
    <br>
    <center ng-show="totalItems>3">
        <ul uib-pagination total-items="totalItems" ng-model="hal" max-size="3" class="pagination-sm" boundary-links="true" items-per-page="3" force-ellipses="true" ng-change="pageChanged()"></ul>
    </center>
  </div>
</div>