<div class="container" ng-controller="detailikmController">
  <div class="row">
    <div class="col-sm-12 offset-sm-0">
      <div class="row">
        <div class="col-sm-4">
          <div class="card card-statistik bg-warning text-left">
            <div class="card-body d-flex flex-wrap justify-content-center align-items-center">
              <div class="angka pl-1">[[dataikm.nilai ? dataikm.nilai : 'N/A']]</div>
              <span class="card-title text-uppercase pl-2 my-0">Nilai Indeks<br>Kepuasan Masyarakat</span>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <h4><strong>OPD [[dataopd.nama_opd | uppercase]]</strong></h4>
          <p class="py-3"><i>Terima kasih atas penilaian yang telah anda berikan. Masukkan anda sangat bermanfaat untuk kemajuan OPD [[dataopd.nama_opd | uppercase]] agar terus memperbaiki dan meningkatkan kualitas pelayanan bagi masyarakat.</i></p>
        </div>
		Nilai Indeks Kepuasan Masyarakat Per Bulan
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card bg-dark text-white text-left" style="margin-bottom: 15px">
            <div class="card-body">
              <label for="layanan"><b>Layanan:</b> &nbsp;</label><br>
              <select class="form-control col-md-6" ng-model="id_layanan" ng-options="obj.id_layanan as obj.nama_layanan for obj in layanans">
                <option value="">Semua Layanan</option>
              </select>
              <div ng-if="availability">
                <h3><b>[[dataikm.jml_responden]]</b> responden telah mengisi kuesioner, terdiri dari:</h3>
                <div class="row">
                  <div class="col-md-6">
                    <chart-jenkel layanan="id_layanan" laki-laki="dataikm.laki_laki" perempuan="dataikm.perempuan"></chart-jenkel>
                  </div>
                  <div class="col-md-6">
                    <chart-jenjang layanan="id_layanan" sd="dataikm.sd" smp="dataikm.smp" sma="dataikm.sma" s1="dataikm.S1" s2="dataikm.S2" s3="dataikm.S3"></chart-jenjang>
                  </div>
                </div>
              </div>
              <div ng-if="!availability" class="pt-5 pb-5">
                <center><h3>Belum Ada Responden</h3></center>
              </div>
            </div>
          </div>
          <center class="pt-2"><a role="button" ng-click="back()" class="btn btn-light">&xlarr; Kembali</a></center>        
        </div>
      </div>
    </div>
  </div>
</div>