<div class="container">
  <div class="col-sm-12 page-content">
    <h1 class="page-title">Kuesioner</h1>
    <div class="col-sm-6 offset-sm-3">
    	<p class="lead" style="font-size: 2rem; line-height: 1.2em;">Terima Kasih atas penilaian yang telah anda berikan</p>
    	<p>Masukkan anda sangat bermanfaat untuk kemajuan [[logged_user.nama_opd]] agar terus memperbaiki dan meningkatkan kualitas pelayanan bagi masyarakat.</p>
    	<a href="beranda_survey" class="btn btn-light">⟵ <i>Kembali ke Beranda</i></a>
    </div>
  </div>
</div>