<div class="container">
  <div class="col-sm-12 page-content">
    <div class="d-flex bd-highlight mb-3">
      <div class="p-2 bd-highlight"><h1 class="page-title">Kuesioner</h1></div>
      <div class="ml-auto p-2 bd-highlight"><h5>OPD [[logged_user.nama_opd]]</h5></div>
    </div>
    <div class="col-sm-6 offset-sm-3">
      <h4>PROFIL</h4>
      <hr>
      <form ng-submit="submitprofil()">
        <div class="form-group">
          <label for="jenis_kelamin"><b>Jenis Kelamin:</b> &nbsp;</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="jenis_kelamin" id="jenis_kelamin1" value="1" ng-model="profil.jenis_kelamin" required>
            <label class="form-check-label" for="jenis_kelamin1">Laki-laki</label>&nbsp;
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="jenis_kelamin" id="jenis_kelamin2" value="2" ng-model="profil.jenis_kelamin" required>
            <label class="form-check-label" for="jenis_kelamin2">Perempuan</label>
          </div>
        </div>
        <div class="form-group">
          <label for="Usia"><b>Usia:</b> &nbsp;</label><br>
          <input type="text" class="form-control" id="usia" placeholder="0" style="width: 70px;" maxlength="2" ng-model="profil.usia" only-numbers required>
        </div>
        <div class="form-group">
          <label for="jenjang_pendidikan"><b>Pendidikan:</b> &nbsp;</label><br>
          <div class="form-check form-check-inline" ng-repeat="data in refdata.jenjang_pendidikan">
            <input class="form-check-input" type="radio" name="jenjang_pendidikan" id="jenjang_pendidikan[[$index]]" value="[[data.id]]" ng-model="profil.jenjang_pendidikan" required>
            <label class="form-check-label" for="jenjang_pendidikan[[$index]]">[[data.jenjang]]</label>
          </div>
        </div>
        <div class="form-group">
          <label for="pekerjaan"><b>Pekerjaan:</b> &nbsp;</label><br>
          <div class="form-check form-check-inline" ng-repeat="data in refdata.pekerjaan">
            <input class="form-check-input" type="radio" name="pekerjaan" id="pekerjaan[[$index]]" value="[[data.id]]" ng-model="profil.pekerjaan" required>
            <label class="form-check-label" for="pekerjaan[[$index]]">[[data.pekerjaan]]</label>&nbsp;
          </div>
        </div>
        <hr>
        <a href="[[baseUrl]]/beranda_survey" class="btn btn-outline-secondary float-left">BATAL</a>
        <button type="submit" class="btn btn-primary float-right">SELANJUTNYA</button>
      </form>
      <br>
    </div>
  </div>
</div>