<div class="container">
  <div class="col-sm-12 page-content">
    <h1 class="page-title">Kontak</h1>
    <hr>        
    <div class="row">
      <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.692854491476!2d110.8407437147723!3d-6.807166695080051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e70c4c4d40558cb%3A0x18153b9a644b7c24!2sJl.+Simpang+Tujuh+No.1%2C+Barongan%2C+Kota+Kudus%2C+Kabupaten+Kudus%2C+Jawa+Tengah+59313!5e0!3m2!1sen!2sid!4v1541747630768" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <h3>Bagian Organisasi Setda Kabupaten Kudus</h3>
        <address>
          Jl. Simpang Tujuh No.1 Kudus, 59313 <br>
          Telp. (0291) 444164 - 444167 &nbsp; Fax. (0291) 439300
        </address>
      </div>
    </div>
  </div>
</div>