<div class="container" ng-controller="kuesionerController">
  <div class="col-sm-12 page-content">
    <div class="d-flex bd-highlight mb-3">
      <div class="p-2 bd-highlight"><h1 class="page-title">Kuesioner</h1></div>
      <div class="ml-auto p-2 bd-highlight"><h5>OPD [[logged_user.nama_opd]]</h5></div>
    </div>
    <div class="col-sm-6 offset-sm-3">
      <p><strong>[[noprogress]] dari 9</strong> pertanyaan</p>
      <hr>
      <p><i>[[kuesioner[progress].pertanyaan]]</i></p>
      <div class="form-check" ng-repeat="pil in kuesioner[progress].pilihan">
        <input class="form-check-input" type="radio" name="pilihan" id="pilihan[[$index]]" value="[[pil.id]]" ng-model="kuesioner[progress].jawaban">
        <label class="form-check-label" for="pilihan[[$index]]">
          [[pil.pilihan]]
        </label>
      </div>
      <hr>
      <button ng-click="kembali(progress)" class="btn btn-outline-secondary float-left">SEBELUMNYA</button>
      <button ng-click="lanjut(progress)" class="btn btn-primary float-right">SELANJUTNYA</button>
      <br>
    </div>
  </div>
</div>