<div class="container" ng-controller="loginController">
    <div class="col-sm-12 page-content">
        <div class="col-md-4 offset-md-4">
            <center><h3><strong>Login Survey - [[logged_user.nama_opd]]</strong></h3></center>
            <div class="login-box-body">
                <form ng-submit="dologin()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="ID OPD" ng-model="formData.username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Kata Sandi" ng-model="formData.password">
                    </div>
                    <center>
                        <button type="submit" class="btn btn-danger btn-flat"><i class="fa fa-arrow-right" aria-hidden="true"></i> Masuk</button>
                        &nbsp;
                        <button id="reset" type="reset" class="btn btn-warning btn-flat"><i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>