<div class="container">
  <div class="col-sm-12 page-content">
    <div class="d-flex bd-highlight mb-3">
      <div class="p-2 bd-highlight"><h1 class="page-title">Kuesioner</h1></div>
      <div class="ml-auto p-2 bd-highlight"><h5>OPD [[logged_user.nama_opd]]</h5></div>
    </div>
    <div class="col-sm-6 offset-sm-3">
      <h4>Jenis layanan apa yang Anda dapatkan?</h4>
      <hr>
      <form ng-submit="submitlayanan()">
        <div class="form-group">
          <label for="jenis_layanan"><b>Pilih salah satu:</b> &nbsp;</label><br>
          <div class="form-check" ng-repeat="data in datalayanan">
            <input class="form-check-input" type="radio" name="jenis_layanan" id="jenis_layanan[[$index]]" value="[[data.id]]" ng-model="profil.jenis_layanan" required>
            <label class="form-check-label" for="jenis_layanan[[$index]]">[[data.nama_layanan]]</label>&nbsp;
          </div>
        </div>
        <hr>
        <a href="[[baseUrl]]/isi_profil" class="btn btn-outline-secondary float-left">SEBELUMNYA</a>
        <button type="submit" class="btn btn-primary float-right">MULAI KUESIONER</button>
        <br>
      </form>
    </div>
  </div>
</div>