<div class="container" ng-controller="finishingController">
  <div class="col-sm-12 page-content">
    <h1 class="page-title">Kuesioner</h1>
    <div class="col-sm-6 offset-sm-3">
      <p><strong>SARAN &amp; MASUKKAN UNTUK PERBAIKAN</strong></p>
      <form ng-submit="selesai()">
        <textarea class="form-control" id="saran" rows="3" placeholder="Isikan saran atau masukkan anda..... (Optional)" ng-model="isiansaran"></textarea>
        <br><br>
        <a href="[[baseUrl]]/kuesioner" class="btn btn-outline-secondary float-left">SEBELUMNYA</a>
        <button type="submit" class="btn btn-success float-right">SELESAI</button>
      </form>
      <br>
    </div>
  </div>
</div>